body{
    font-family: 'Telex', sans-serif;
    font-family: 'Yantramanav', sans-serif;
  }

.font-primary-lg{
    font-family: 'Telex';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
}
.font-primary-sm{
    font-family: 'Telex';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.font-secondary-h1{
    font-family: 'Yantramanav';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 117px;
}
.font-secondary-xl{
    font-family: 'Yantramanav';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 42px;
}
.font-secondary-sm{
    font-family: 'Yantramanav';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
}